MasterThesis/MasterThesis.opensdf
*.tlog
*.lastbuildstate
*.idb
*.ipch
*.filters
MasterThesis/Tests
*.50MB
Re-Pair_Compression_techniques.zip
*.sdf
*.pchi
*.vcxproj
MasterThesis/unittest_RePair_v2/unittest_RePair_v2.vcxproj
MasterThesis/RePair_v2/RePair_v2.vcxproj
MasterThesis/googletest/googletest.vcxproj
MasterThesis/googletest/googletest.vcxproj.filters
*.manifest
MasterThesis/unittest_RePair_v2/testWriteDictionary
MasterThesis/unittest_RePair_v2/testHuffmanDictionary2
MasterThesis/unittest_RePair_v2/testHuffmanDictionary
MasterThesis/unittest_RePair_v2/testDuplicatesLongCompressed
MasterThesis/unittest_RePair_v2/diddy.txt.dict.NPC
*.NPC
