MasterThesis/MasterThesis.opensdf
*.tlog
*.lastbuildstate
*.idb
*.ipch
*.filters
MasterThesis/Tests
*.50MB
Re-Pair_Compression_techniques.zip
*.sdf
*.pchi
*.vcxproj
MasterThesis/unittest_RePair_v2/unittest_RePair_v2.vcxproj
MasterThesis/RePair_v2/RePair_v2.vcxproj
MasterThesis/googletest/googletest.vcxproj
MasterThesis/googletest/googletest.vcxproj.filters
*.manifest
MasterThesis/unittest_RePair_v2/testWriteDictionary
MasterThesis/unittest_RePair_v2/testHuffmanDictionary2
MasterThesis/unittest_RePair_v2/testHuffmanDictionary
MasterThesis/unittest_RePair_v2/testDuplicatesLongCompressed
MasterThesis/unittest_RePair_v2/diddy.txt.dict.NPC
*.NPC
*.orig
MasterThesis/unittest_RePair_v2/testWriteDictionaryDiddy
*.decoded
*.test
MasterThesis/RePair_v2/My Advisor XE Results - RePair_v2/
MasterThesis/lib/boost_1_57_0/
MasterThesis/unittest_RePair_v2/unittest_RePair_v2_Decoder_Nicolai_old.cpp
MasterThesis/unittest_RePair_v2/TestPairs
*.txt
MasterThesis/RePair_v2/Debug/RePair_v2.res
*.rc
*.res
